@model Kasa

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post" asp-controller="Bereket" asp-action="Duzenle">
            <div class="modal-header">
                <h4 class="modal-title"><strong class="text-success">Gelir Düzenle</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input asp-for="@Model.KasaId" class="form-control form-white" required>
                    <input asp-for="KasaTarih" class="form-control form-white" required>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <select asp-for="KatId" class="form-control form-control-lg" asp-items="ViewBag.KatGelir" required>
                            <option value="">Kategori Seçiniz...</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-success" data-toggle="modal" href="#addGelirKatModal">
                                <i class="typcn typcn-plus" title="Kategori Ekle"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="KasaTutar" id="sayisalinput" class="form-control form-white" placeholder="Tutar Giriniz" required>
                </div>
                <div class="form-group">
                    <input asp-for="KasaAciklama" class="form-control form-white" placeholder="Açıklama" />
                </div>
                <div class="form-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="KasaKrediKarti" /> Kredi Kartı İle Ödendi
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                <input type="submit" class="btn btn-success save-event waves-effect waves-light" value="Duzenle">
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Sadece sayı ve virgül girebilirsin
        $("#sayisalinput").keyup(function () {
            if (this.value.match(/[^0-9,]/g)) {
                this.value = this.value.replace(/[^0-9,]/g, '');
            }
        });
    });
</script>
