@model Kasa
<!-- Add Modal Gelir -->
<div id="addGelirModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Ekle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-success">Gelir Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" name="kasaTarih" class="form-control form-white" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select name="katId" class="form-control form-control-lg" asp-items="ViewBag.KatGelir" required>
                                <option value="">Kategori Seçiniz...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-success" data-toggle="modal" href="#addGelirKatModal">
                                    <i class="typcn typcn-plus" title="Kategori Ekle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="kasaTutar" id="sayisalinput" class="form-control form-white" placeholder="Tutar Giriniz" required>
                    </div>
                    <div class="form-group">
                        <input name="kasaAciklama" class="form-control form-white" placeholder="Açıklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-success save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Gider -->
<div id="addGiderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Ekle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-warning">Gider Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" name="kasaTarih" class="form-control form-white" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select name="katId" class="form-control form-control-lg" asp-items="ViewBag.KatGider" required>
                                <option value="">Kategori Seçiniz...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-warning" data-toggle="modal" href="#addGiderKatModal">
                                    <i class="typcn typcn-plus" title="Kategori Ekle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="kasaTutar" id="sayisalinput" class="form-control form-white" placeholder="Tutar Giriniz" required>
                    </div>
                    <div class="form-group">
                        <input name="kasaAciklama" class="form-control form-white" placeholder="Açıklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-warning save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Tasarruf -->
<div id="addTasarrufModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Ekle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-info">Tasarruf Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" name="kasaTarih" class="form-control form-white" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select name="katId" class="form-control form-control-lg" asp-items="ViewBag.KatTasarruf" required>
                                <option value="">Kategori Seçiniz...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-info" data-toggle="modal" href="#addTasarrufKatModal">
                                    <i class="typcn typcn-plus" title="Kategori Ekle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="kasaTutar" id="sayisalinput" class="form-control form-white" placeholder="Tutar Giriniz" required>
                    </div>
                    <div class="form-group">
                        <input name="kasaAciklama" class="form-control form-white" placeholder="Açıklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-info save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Borc -->
<div id="addBorcModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Ekle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-primary">Borç Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" name="kasaTarih" class="form-control form-white" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <select name="katId" class="form-control form-control-lg" asp-items="ViewBag.KatBorc" required>
                                <option value="">Kategori Seçiniz...</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-primary" data-toggle="modal" href="#addBorcKatModal">
                                    <i class="typcn typcn-plus" title="Kategori Ekle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="kasaTutar" id="sayisalinput" class="form-control form-white" placeholder="Tutar Giriniz" required>
                    </div>
                    <div class="form-group">
                        <input name="kasaAciklama" class="form-control form-white" placeholder="Açıklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-primary save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Gelir -->
<div id="editGelirModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Duzenle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-success">Gelir Düzenle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" class="form-control form-white" required name="kasaTarih" id="kasaTarih">
                    </div>
                    <div class="form-group">
                        <select name="katId" id="katId" class="form-control form-white" asp-items="ViewBag.KatGelir">
                        </select>
                    </div>
                    <div class="form-group">
                        <input name="kasaTutar" class="form-control form-white" required id="kasaTutar">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" name="kasaAciklama" id="kasaAciklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-success" value="Kaydet">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="kalemid" name="kalemid" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Gider -->
<div id="editGiderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Duzenle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-warning">Gider Düzenle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" class="form-control form-white" required name="kasaTarih" id="kasaTarih">
                    </div>
                    <div class="form-group">
                        <select name="katId" id="katId" class="form-control form-white" asp-items="ViewBag.KatGider">
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" required name="kasaTutar" id="kasaTutar">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" name="kasaAciklama" id="kasaAciklama" />
                    </div>
                    <div class="form-group mt-3 mt-md-3 form-check" hidden>
                        <label class="form-check-label">
                            <input name="kasaBorcOde" id="kasaBorcOde" class="form-check-input" asp-for="KasaBorcOde" checked /> @Html.DisplayNameFor(model => model.KasaBorcOde)
                        </label>
                    </div>
                    <div class="form-group mt-3 mt-md-3 form-check">
                        <label class="form-check-label">
                            <input name="kasaKrediKarti" id="kasaKrediKarti" class="form-check-input" asp-for="KasaKrediKarti" /> Kredi Kartıyla Ödedim
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-warning" value="Kaydet">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="kalemid" name="kalemid" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Tasarruf -->
<div id="editTasarrufModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Duzenle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-info">Tasarruf Düzenle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" class="form-control form-white" required name="kasaTarih" id="kasaTarih">
                    </div>
                    <div class="form-group">
                        <select name="katId" id="katId" class="form-control form-white" asp-items="ViewBag.KatTasarruf">
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" required name="kasaTutar" id="kasaTutar">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" name="kasaAciklama" id="kasaAciklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-info" value="Kaydet">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="kalemid" name="kalemid" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal Borc -->
<div id="editBorcModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Duzenle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-primary">Borç Düzenle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" class="form-control form-white" required name="kasaTarih" id="kasaTarih">
                    </div>
                    <div class="form-group">
                        <select name="katId" id="katId" class="form-control form-white" asp-items="ViewBag.KatBorc">
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" required name="kasaTutar" id="kasaTutar">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" name="kasaAciklama" id="kasaAciklama" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-primary" value="Kaydet">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="kalemid" name="kalemid" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Öde Modal Borc -->
<div id="odeBorcModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Duzenle">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-primary">Borç Öde</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="KasaTarih" class="form-control form-white" required name="kasaTarih" id="kasaTarih" readonly />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" required name="kasaTutar" id="kasaTutar" readonly />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-white" name="kasaAciklama" id="kasaAciklama" readonly />
                    </div>
                    <div class="form-group">
                        <select name="katId" id="katId" class="form-control form-white mb-2" asp-items="ViewBag.KatGider" required></select>
                        <span class="text-primary">Lütfen Borcun Gider Kalemini Seçin</span>
                    </div>
                    <div class="form-group mt-3 mt-md-3 form-check" hidden>
                        <label class="form-check-label">
                            <input name="kasaBorcOde" id="kasaBorcOde" class="form-check-input" asp-for="KasaBorcOde" checked /> @Html.DisplayNameFor(model => model.KasaBorcOde)
                        </label>
                    </div>
                    <div class="form-group mt-3 mt-md-3 form-check">
                        <label class="form-check-label">
                            <input name="kasaKrediKarti" id="kasaKrediKarti" class="form-check-input" asp-for="KasaKrediKarti" /> Kredi Kartıyla Ödedim
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-primary" value="Öde">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="kalemid" name="kalemid" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal Hepsi -->
<div id="deleteGelirModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="Sil">
                <div class="modal-header">
                    <h4 class="modal-title">Sil</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Bu Kaydı silmek istediğinizden emin misiniz?</p>
                    <p class="text-warning"><small>Bu işlem geri alınamaz.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light" data-dismiss="modal" value="Vazgeç">
                    <input type="submit" class="btn btn-danger" value="Sil">
                    <input type="hidden" id="id" name="id" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Gelir Kategori -->
<div id="addGelirKatModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="EkleGelirKat">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-success">Gelir Kategorisi Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input name="katAdi" class="form-control form-white" placeholder="Kategori Adı" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-success save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Gider Kategori -->
<div id="addGiderKatModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="EkleGiderKat">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-warning">Gider Kategorisi Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input name="katAdi" class="form-control form-white" placeholder="Kategori Adı" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-warning save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Tasarruf Kategori -->
<div id="addTasarrufKatModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="EkleTasarrufKat">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-info">Tasarruf Kategorisi Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input name="katAdi" class="form-control form-white" placeholder="Kategori Adı" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-info save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Modal Borc Kategori -->
<div id="addBorcKatModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Anasayfa" asp-action="EkleBorCKat">
                <div class="modal-header">
                    <h4 class="modal-title"><strong class="text-primary">Borç Kategorisi Ekle</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input name="katAdi" class="form-control form-white" placeholder="Kategori Adı" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-light waves-effect" data-dismiss="modal" value="Kapat">
                    <input type="submit" class="btn btn-primary save-event waves-effect waves-light" value="Ekle">
                </div>
            </form>
        </div>
    </div>
</div>
